main {
    margin-top: 62.73px;
    min-height: 84vh;
}

.carousel-inner .carousel-item {
    height: 25vh;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.card {
    text-align: center;
    width: 18rem;
    background-color: #EEF7FF;
}

.card img {
    object-fit: cover;
    height: 100%;
}

.price {
    font-weight: unset;
    font-size: 1.2rem;
}

footer img {
    width: 2.5rem;
}

#contenedorDetalles {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#containerCards {
    min-height: 53vh;
}

#estadisticas {
    max-width: 98vw;
}